$primary-color: #000;
$secondary-color: #ffe306;

$text-color: $primary-color;
$bg-color: $secondary-color;

$body-font-family: "Josefin Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-family: "Permanent Marker", Helvetica, sans-serif;